$primary: #383838;
$primaryDark:#000000;
$primaryTransparent: rgba(255,171,0,0.3);

$secondary: #CF4747;
$secondaryDark: #1E8C86;
$secondaryTrasparent: #4de4dc59;

$verde: #A8CF45;
$rojo: #F33446;
$azul: #0098DA;

$gray0: #ebebeb;
$gray1: #cecece;
$gray2: #797979;
$gray3: #444444;
$gray4: #313131;

$white1: #fcf5ed;

$alert-color: #cb492a;
$light-black-color: #706e72;
$black-color: #414042;
$black-color-trasparent: #00000093;

$blurGeneral: 2px;