
.contenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.arriba{
    background-color: $primaryDark;
    height: 7vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.abajo{
    flex: 1;
    width: 100%;
    display: flex;
}


.menu{
    width: 20vw;
    height: 100%;
    position: relative;
    background: rgba(24,24,24,0.8);
}

.menu>.fondo{
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url('../scrAppServer/images/fondo_header.png');
    background-size: 28vw;
    background-position-x: -4.2vw;
    background-position-y: -0.15vw;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 20vw;
}

.arriba>.logo{
    height: 5vw;
}

.arriba>.fondo_header{
    height: 100%;
    position: absolute;
    left: -5.5vw;
}


.contenido{
    flex: 1;
}

.menu>.menuItem{
    height: 2vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    cursor: pointer;
}

.iconMenuItem{
    display: flex;
    width: 3em;
    height: 100%;
    border-right: solid 1px $secondary;
    color: #fff;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset -6px 0px 16px -11px #000000; 
    box-shadow: inset -6px 0px 16px -11px #000000;
}

.menuItem span{
    margin-left: 1vw;
    padding-left: 1vw;
    align-items: center;
    color: #fff;
}
