.editarSubitem{
    width: 3vw;
    background-color: $primary;
    color: $secondary;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    font-size: 0.8em;
    cursor: pointer;
}
